<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMDBSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>flickrSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>imageSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>selectsearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>selectsearchextension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>twitterSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37293A421F42D590006026F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37293A541F42D65D006026F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37293A661F42D6D4006026F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3747A5F71F1A4F2B00F42287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3747A60B1F1A4F2B00F42287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3747A6161F1A4F2B00F42287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3747A62C1F1A4F6C00F42287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37B4C6681F2511EA00CDC601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
